@page
@model chief.Pages.ChecklistMaster.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Checklist Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Document Name</th>
            <th>Application Type</th>
            <th>Checklist Items</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Checklist)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.DocumentName)</td>
                <td>@Html.DisplayFor(modelItem => item.ApplicationType)</td>
                <td>
                    <ul>
                        @foreach (var checklistItem in item.ChecklistItems)
                        {
                            <li>@Html.DisplayFor(m => checklistItem.ItemName)</li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
