@page
@model chief.Pages.ChecklistMaster.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Checklist[0].DocumentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checklist[0].ApplicationType)
            </th>
            <th>Checklist Items</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Checklist)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationType)
                </td>
                <td>
                    <ul>
                        @if (item.ChecklistItems != null && item.ChecklistItems.Any())
                        {
                            foreach (var checklistItem in item.ChecklistItems)
                            {
                                <li>@Html.DisplayFor(m => checklistItem.ItemName)</li>
                            }
                        }
                        else
                        {
                            <li>No checklist items added.</li>
                        }
                    </ul>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
