@page
@model chief.Pages.ApplicationMaster.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.DTSNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.DTSNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.ApplicationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.ApplicationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.UserType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.UserType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.ApplicantName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.ApplicantName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.FiledDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.FiledDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.Evaluators)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Evaluators)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.DaysToEvaluate)
        </dt>
        <dd class="col-sm-10">
            <input type="number" id="daysToEvaluate" value="@Model.Application.DaysToEvaluate" class="form-control" min="3" max="10" />
            <button class="btn btn-primary mt-2" onclick="updateDaysToEvaluate(@Model.Application.Id, document.getElementById('daysToEvaluate').value)">Update</button>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Application.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Application.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Application.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<script>
    function updateDaysToEvaluate(applicationId, selectedDays) {
        const data = {
            id: applicationId,
            daysToEvaluate: selectedDays
        };

        fetch('/ApplicationMaster/UpdateDaysToEvaluate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value // CSRF token
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update Days to Evaluate');
                }
            })
            .then(result => {
                if (result.success) {
                    console.log('Update successful:', result);
                    location.reload(); // Refresh the page to show updated values
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error updating Days to Evaluate: ' + error.message);
            });
    }
</script>